.App{
  padding: 0 0 0 0;
  background: rgb(251,252,254);
  }
.container {
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
  }
}


/* h1 {
  color: rgb(49,56,123);
} */
.rightside{
  margin: 1.5% 1.5% 1.5% 22%;
  width: 100%;
  min-height: 760px;
  border-radius: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.MuiCard-root {
  margin: auto;
}

body {
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
}

.page-title {
  padding-left: 4rem;
  color: #3f4143;
  font-weight: bold;
}

/* CArd */
.card {
  border-radius: 2rem;
  border: 1px solid #0062cc2b;
  box-shadow: 0 10px 20px -8px #81d1ff;
  color: #0a2445;
  font-size: 0.85rem;
}
.card svg{
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
}
.card .card-body{
  padding: 0;
}
.card .card-body .card-txt{
  margin: 0.5rem 1.2rem 1.2rem 1.2rem;
}
.card .category-tag{
  position: relative;
  top: 0.5rem;
  left: 1rem;
  background: #ff8f03;
  color: white;
  font-size: 0.8rem;
  width: max-content;
  border-radius: 0.5rem;
  padding: 0.1rem 0.8rem;
  z-index: 2;
}
.card .card-body .card-txt .views-dur{
  display: flex;
  margin-bottom: 0.2rem;
}
.card .card-body .card-img{
  margin-top: -1.7rem;
  z-index: 0;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(2.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

.card-img, .card-img-top {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.btn-info {
  color: #fff;
  background-color: #1875ab;
  border-color: transparent;
  font-size: 0.9rem;
  border-radius: 1rem;
}

.btn-info:hover{
  background-color: #f06083;
  /* background-color: #ff8f03; */
  border-color: transparent;
}

/* 
*
  MYCOURSE CARD 
*
*/
.my-course-list {
  width: 100%;
  margin: 3rem;
}
.my-course-card {
  width: 80%;
  background-color: white;
  box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
  margin-bottom: 2rem;
}
.my-course-card .my-course-card-body .category-tag{
  padding: 0.4rem 2.3rem;
  background: #f3f3f3;
  color: #757575;
  font-weight: 600;
}
.btn-gowatch {
  width: 5rem;
  height: 5rem;
  background-color: #1875ab;
  border-radius: 5rem;
}
.gowatch-icon{
  position: relative;
  top: 0.9rem;
  left: 0.2rem;
}

.card-main-content-centered{
  display: flex;
}

.my-course-card .card-main-content-centered .card-txt{
  width: 80%;
  padding: 2.5rem 2.3rem;
  color: #616161;
}
.my-course-card .card-main-content-centered .card-txt h3{ 
  color: #1875ab;
}

.my-course-card .card-main-content-centered .gowatch{
  width: 20%;
  justify-content: center;
  text-align: right;
  padding: 2.5rem;
}
.course-title {
  margin: 1rem;
}
/* QNA */
.qna-container{
  background-color: white;
  box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
  padding: 0 2.5rem 2.5rem 2.5rem;
  border-radius: 0.3rem;
}

.qna-container .qna-header {
  padding:0.8rem 0 0.2rem 0;
  border-bottom: 1px solid #e1dada;
}

.qna-container .qna-chats{
  margin-top: 1rem;
}

/* WATCH VIDEO */
.video-card {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
}
.video-card video{
  position: relative;
  top: -0.1rem;
}
.course-contents{
  background-color: white;
  box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
  overflow-y: scroll;
  max-height: 500px;
}
.course-contents .course-contents-header {
  border-bottom: #e1dada 1px solid;
  padding: 0.5rem 1rem;
  color: #3e3e3e;
  font-weight: 600;
}
.course-contents .course-contents-videos {
  /* padding: 0 2rem; */
}
.course-contents-videos svg{
  margin-right: 1rem;
  position: relative;
  top: 0.2rem;
  left: 0.4rem;
  width: 4%;
}
.course-contents-videos ul li{
  display: flex;
  padding: 0.5rem 0.8rem;
  vertical-align: middle;
}
.course-contents-videos ul li.active{
  background-color: #f3f3f3;
}
.btn-qna{
  float: right;
  background: #1875ab;
  margin: 0.5rem;
  font-size: 0.9rem;
  color: white;
}

/* PRofile */
.profile-row{
  margin-left: 2rem;
  background-color: white;
  width: 90%;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1.8rem;
}