.App{
  padding: 0 0 0 0;
}

.container {
  width: 80%;
  margin-left: 20%;
}

.MuiCard-root {
  margin: auto;
}

body {
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
}